<p>loads_this_page: members_only\app\views\users\new.html.erb</p>

<%= form_for @user, url: {action: "log_in_check"} do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name%> <br>

  <%= f.label :password %>
  <%= f.password_field :password%> <br>

  <%= f.submit "Log in"%>
<% end %>
